openapi: 3.0.3
info:
  title: User API
  version: 1.0.0
paths:
  /user/{name}:
    get:
      summary: Get user by name
      operationId: getV1GetUser
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            example: "john"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      summary: Create user
      operationId: putV1CreateUser
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            example: "John"
      responses:
        '200':
          description: OK

    delete:
      summary: Delete user
      operationId: deleteV1DeleteUser
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            example: "John"
      responses:
        '200':
          description: OK

  /users:
    get:
      summary: Get all users
      operationId: getV1GetUsers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
